h3{
    font-size: 26px !important;
}
.btn-danger{
    font-size: 26px !important;
    
}
.btn-danger:hover{
background-color:deepskyblue;
color: firebrick;
}
canvas{
    
    animation-name:coolcolorchange ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes coolcolorchange{
    from{
        box-shadow: red 3px 3px  18px ;
    }
    
    to{
        box-shadow: rgb(250, 7, 230) 3px 3px 18px;
    }
}